*,
::after,
::before {
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

textarea {
    resize: none;
}
.hidden {
    display: none;
}
/* =========== COMMON STYLES SECTION =========== */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/* =========== /COMMON STYLES SECTION =========== */

/* =========== HEADER STYLES SECTION =========== */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu, 
.adress {
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;
}
.text-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37; 
}
@media screen and (min-width: 768px) {
    .burger-btn {
            display: none;
        }
    .page-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
             }
    .menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .header-logo {
         margin-right: 120px;
        padding: 24px 0;
        }  

    .menu-link {
       font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        display: block;
        padding: 24px 0;
        }
        .menu-link:hover,
        .menu-link:focus {
            color: #404bbf;
            }
        .menu-link:active {
           color: #404bbf;
            text-decoration: underline;
            }
            
        .menu-link.current {
           position: relative;
           color: #404bbf;
            }
            
        .menu-link.current::after {
            content: "";
            
            position: absolute;
            left: 0;
            bottom: -1px;
            
            width: 100%;
            height: 4px;
            border-radius: 2px;
            
            background-color: #404bbf;
            }
        .adress {
            font-size: normal;
            display: block;
            }
        .adress-ul {
            display: flex;
            flex-direction: column;
            gap: 12px;
            }
        .adress-info {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #434455;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                        }
        .adress-info:hover,
        .adress-info:focus {
            color: #404bbf;
            }
}
@media screen and (min-width: 1158px) {
        .menu-item {
            font-weight: 500;
        }
        
        .header-logo {
        
            margin-right: 76px;
        }
        .adress {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            font-style: normal;
            margin-left: auto;
            }
        
        .adress-ul {
            flex-direction: row;
            align-items: center;
            gap: 40px;
            }
        
        .adress-info {
            padding: 24px 0; 
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            }
    }
/* === MOBILE MENU === */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
 
}
.mobile-menu-close {
    position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        margin-bottom: 24px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close:hover, 
.mobile-menu-close:focus {
        background-color: #404bbf;
        border: none;
}
.mobile-menu-close:hover, 
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}

.mobile-menu-nav {
     margin-bottom: auto;
}
.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mobile-menu-link {
    font-weight: 700;
        font-size: 32px;
            line-height: 1.1;
            letter-spacing: 0.02em;
            color: #2e2f42;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            display: block;
        
        }
        
        .mobile-menu-link:hover,
        .mobile-menu-link:focus {
            color: #404bbf;
        }
        
        .mobile-menu-link:active {
            color: #404bbf;
      
        }
.mobile-adress-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}
.mobile-adress-info {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-adress-info:hover, 
.mobile-adress-info:focus {
    color: #404bbf;
}

.mobile-socialmedia-link-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.mobile-socialmedia-link-list-item {
    width: 40px;
    height: 40px;
}

.mobile-socialmedia-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
}

.mobile-ocialmedia-link:hover,
.mobile-socialmedia-link:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* === /MOBILE MENU === */

/* =========== /HEADER STYLES SECTION =========== */

/* =========== MAIN STYLES SECTION =========== */
.main-title {
    max-width: 320px;
    background: #2e2f42;
    padding: 72px 0;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/main-image-phone.jpg);
    
}
@media (min-resolution: 192dpi){
    .main-title {
        background-image: 
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/main-image-phone-x2.jpg);
    }
}
     .main-header {
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 216px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
}
.order-service-btn {
        font-family: "Roboto", sans-serif;
        background: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        border: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service-btn:hover,
.order-service-btn:focus {
         background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .main-title {
        max-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/main-image-tablet.jpg);
                }
    @media (min-resolution: 192dpi) {
         .main-title {
            background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/main-image-tablet-x2.jpg);
                     }
            }
    .main-header {
        font-size: 56px;
        max-width: 496px;
        margin-bottom: 36px;
    }
}
@media screen and (min-width: 1158px) {
    .main-title {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero_image.jpg);
    }
        @media (min-resolution: 192dpi) {
            .main-title {
                background-image:
                    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url(../images/hero-image-x2.jpg);}
                                          }
            .main-header {
                margin-bottom: 48px;
            }
                         
}
/* =========== /MAIN STYLES SECTION =========== */

/* =========== OUR BENEFITS SECTION=========== */

.benefits-section {
    padding: 96px 0;
}
.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
.benefits-list-item {
    width: 100%;
}
.benefits-list-icon-container {
    display: none;
}
.benefits-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
    .benefits-list {
       gap: 72px 24px;

    }
    .benefits-list-item {
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .benefits-list-icon-container {
            border: 1px solid #8e8f99;
            border-radius: 4px;
            height: 112px;
            background: #f4f4fd;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
                .benefits-list-title {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    text-align: left;
                    color: #2e2f42;
                    margin-bottom: 8px;
                    
                }
        
                .benefits-list-text {
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #434455;
                    min-width: 264px;
                }
    .benefits-list {
        margin-left: auto;
        margin-right: auto;
        gap: 24px;
    }
    .benefits-list-item {
        justify-content: flex-start;
        width: calc((100% - 72px) / 4);
    }
}
/* =========== /OUR BENEFITS SECTION =========== */

/* =========== OUR TEAM SECTION =========== */
.our-team {
    background: #f4f4fd;
    padding: 96px 16px;
}
.our-team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.our-team-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
.our-team-list-item {
    box-sizing: border-box;
    background-color: #fff;
    max-width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}
.our-team-list-container {
    text-align: center;
    padding: 32px 0;
}
.our-team-member {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.our-team-member-profsn {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    align-items: center;
    color: #434455;
    margin-bottom: 8px;
}
.socialmedia-link-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.socialmedia-link-list-item {
    width: 40px;
    height: 40px;
}

.socialmedia-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
}

.socialmedia-link:hover,
.socialmedia-link:focus {
    background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .our-team-list {
        gap: 64px 24px;
    }
    .our-team-list-item {
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .our-team-list {
        gap: 24px;
    }
    .our-team-list-item {
        width: calc((100% - 72px) / 4);
    }
}
/* =========== /OUR TEAM SECTION =========== */

/* =========== OUR PORTFOLIO SECTION =========== */
.portfolio-container {
    padding: 96px 16px;
}
.our-portfolio-header {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    min-width: 218px;
    margin-bottom: 72px;
    text-align: center;
}
.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
}
.our-portfolio-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-portfolio-item:hover .thumb-text {
    transform: translateY(0%);
}

.thumb {
    position: relative;
    overflow: hidden;
}

.thumb-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-img {
    background: url("path_to_image");
}
.portfolio-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.our-portfolio-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.our-portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
@media screen and (min-width: 768px) {
    .our-portfolio-list {
        gap: 72px 24px;
    }
    .our-portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .our-portfolio-list {
        gap: 48px 24px;
    }
    .our-portfolio-item {
        width: calc((100% - 48px) / 3);
    }
}
/* =========== /OUR PORTFOLIO SECTION =========== */

/* =========== FOOTER SECTION =========== */
.page-footer {
    background: #2e2f42;
    padding: 96px 0;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
}
.logo-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.text-part-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}

.social-media-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px
}
.socialmedia-link-list-footer {
    display: flex;
    gap: 16px;
}

.socialmedia-link-list-item-footer {
    width: 40px;
    height: 40px;
}

.socialmedia-link-footer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
}

.socialmedia-link-footer:hover,
.socialmedia-link-footer:focus {
    background-color: #31d0aa;
}
/* =========== /FOOTER SECTION =========== */

/* =========== MODAL SECTION =========== */

/* =========== /MODAL SECTION =========== */