*,
::after,
::before {
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

textarea {
    resize: none;
}
.hidden {
    display: none;
}
/* =========== COMMON STYLES SECTION =========== */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/* =========== /COMMON STYLES SECTION =========== */

/* =========== HEADER STYLES SECTION =========== */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu, 
.adress {
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;
}
.text-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37; 
}
@media screen and (min-width: 768px) {
    .burger-btn {
            display: none;
        }
    .page-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
             }
    .menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .header-logo {
         margin-right: 120px;
        padding: 24px 0;
        }  

    .menu-link {
       font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        display: block;
        padding: 24px 0;
        }
        .menu-link:hover,
        .menu-link:focus {
            color: #404bbf;
            }
        .menu-link:active {
           color: #404bbf;
            text-decoration: underline;
            }
            
        .menu-link.current {
           position: relative;
           color: #404bbf;
            }
            
        .menu-link.current::after {
            content: "";
            
            position: absolute;
            left: 0;
            bottom: -1px;
            
            width: 100%;
            height: 4px;
            border-radius: 2px;
            
            background-color: #404bbf;
            }
        .adress {
            font-size: normal;
            display: block;
            }
        .adress-ul {
            display: flex;
            flex-direction: column;
            gap: 12px;
            }
        .adress-info {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #434455;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                        }
        .adress-info:hover,
        .adress-info:focus {
            color: #404bbf;
            }
}
@media screen and (min-width: 1158px) {
        .menu-item {
            font-weight: 500;
        }
        
        .header-logo {
        
            margin-right: 76px;
        }
        .adress {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            font-style: normal;
            margin-left: auto;
            }
        
        .adress-ul {
            flex-direction: row;
            align-items: center;
            gap: 40px;
            }
        
        .adress-info {
            padding: 24px 0; 
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            }
    }
/* === MOBILE MENU === */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
 
}
.mobile-menu-close {
    position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        margin-bottom: 24px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close:hover, 
.mobile-menu-close:focus {
        background-color: #404bbf;
        border: none;
}
.mobile-menu-close:hover, 
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}

.mobile-menu-nav {
     margin-bottom: auto;
}
.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mobile-menu-link {
    font-weight: 700;
        font-size: 32px;
            line-height: 1.1;
            letter-spacing: 0.02em;
            color: #2e2f42;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            display: block;
        
        }
        
        .mobile-menu-link:hover,
        .mobile-menu-link:focus {
            color: #404bbf;
        }
        
        .mobile-menu-link:active {
            color: #404bbf;
      
        }
.mobile-adress-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}
.mobile-adress-info {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-adress-info:hover, 
.mobile-adress-info:focus {
    color: #404bbf;
}

.mobile-socialmedia-link-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.mobile-socialmedia-link-list-item {
    width: 40px;
    height: 40px;
}

.mobile-socialmedia-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
}

.mobile-ocialmedia-link:hover,
.mobile-socialmedia-link:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* === /MOBILE MENU === */

/* =========== /HEADER STYLES SECTION =========== */

/* =========== MAIN STYLES SECTION =========== */

/* =========== /MAIN STYLES SECTION =========== */

/* =========== OUR BENEFITS SECTION=========== */

/* =========== /OUR BENEFITS SECTION =========== */

/* =========== OUR TEAM SECTION =========== */

/* =========== /OUR TEAM SECTION =========== */

/* =========== OUR PORTFOLIO SECTION =========== */

/* =========== /OUR PORTFOLIO SECTION =========== */

/* =========== FOOTER SECTION =========== */

/* =========== /FOOTER SECTION =========== */

/* =========== MODAL SECTION =========== */

/* =========== /MODAL SECTION =========== */